[tool.poetry]
name = "nubus-provisioning-listener"
version = "0.1.0"
description = "Nubus - Provisioning Listener (depricated in favor of LDIF Producer)"
authors = ["Univention GmbH <packages@univention.de>"]
license = "AGPL-3.0-only"
readme = "README.md"
packages = [{ include = "univention", from = "src" }]

[tool.poetry.dependencies]
##############
# Python 3.7 #
##############
daemoniker = "^0.2.3"
msgpack = "1.0.5"  # py311: "^1.1.0"
nats-py = "<=2.7.0"  # py311: "^2.9.0" # newer versions use Literal from typing which is Python 3.8+
nubus-provisioning-backends = {path = "../backends"}
nubus-provisioning-common = {path = "../consumer/common/"}
pydantic-settings = "^2.0.3"  # py311: "^2.5.2"
python = "^3.7"
# univention.listener

[tool.poetry.group.dev.dependencies]
pytest = "7.4.4"  # py311: "^8.3.3"
pytest-asyncio = "0.21.2"  # py311: "^0.24"
pytest-cov = "4.1.0"  # py311: "^5.0"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
    "--cov=src/univention/provisioning/listener",
    "--cov=tests",
    "--cov-report=term-missing",
]
asyncio_mode = "auto"
log_cli = 0  # activate on the CLI with: "-o log_cli=true"
log_cli_level = "DEBUG"
log_cli_format = "%(asctime)s %(levelname)-5s [%(module)s.%(funcName)s:%(lineno)d] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S:%f"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
target-version = "py37"
line-length = 120
