[tool.poetry]
name = "nubus-provisioning-backends"
version = "0.1.0"
description = "Univention Nubus - Provisioning Backends"
authors = ["Univention GmbH <packages@univention.de>"]
license = "AGPL-3.0-only"
readme = "README.md"
packages = [{ include = "univention", from = "src" }]

[tool.poetry.dependencies]
######################################
# Python 3.7 - listener imports this #
######################################
nats-py = ">=2.7.0"  # newer versions use Literal from typing which is Python 3.8+
nubus-provisioning-common = {path = "../consumer/common"}
pydantic = ">=2.5.2"  # py311: "^2.9.2"
pydantic-settings = ">=2.0.3"  # py311: "^2.5.2"
python = ">=3.7,<4.0"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
    "--cov=src/univention/provisioning/backends",
    "--cov=tests",
    "--cov-report=term-missing",
]
asyncio_mode = "auto"
log_cli = 0  # activate on the CLI with: "-o log_cli=true"
log_cli_level = "DEBUG"
log_cli_format = "%(asctime)s %(levelname)-5s [%(module)s.%(funcName)s:%(lineno)d] %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S:%f"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
