{{/*
SPDX-FileCopyrightText: 2024 Univention GmbH
SPDX-License-Identifier: AGPL-3.0-only
*/}}
---
kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.additionalLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.additionalLabels "context" . ) | nindent 4 }}
    {{- end }}
  {{- if .Values.additionalAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.additionalAnnotations "context" . ) | nindent 4 }}
  {{- end }}
data:
  CA_CERT: "{{ .Values.config.caCert }}"
  CA_CERT_FILE: "{{ .Values.config.caCertFile }}"
  DEBUG_LEVEL: "{{ .Values.config.debugLevel }}"
  LDAP_BASE_DN: {{ include "udm-listener.ldapBaseDn" . | quote }}
  LDAP_PASSWORD: "{{ .Values.config.ldapPassword }}"
  LDAP_PASSWORD_FILE: "{{ .Values.config.ldapPasswordFile }}"
  LDAP_HOST: {{ include "udm-listener.ldap.connection.host" . | quote }}
  LDAP_HOST_DN: {{ include "udm-listener.ldapAdminDn" . | quote }}
  LDAP_PORT: {{ include "udm-listener.ldap.connection.port" . | quote }}
  NATS_HOST: {{ include "udm-listener.nats.connection.host" . | quote }}
  NATS_PORT: {{ include "udm-listener.nats.connection.port" . | quote }}
  NATS_MAX_RECONNECT_ATTEMPTS: "{{ .Values.config.nats_max_reconnect_attempts }}"
  PROVISIONING_API_HOST: {{ include "udm-listener.provisioningApi.connection.host" . | quote }}
  PROVISIONING_API_PORT: {{ include "udm-listener.provisioningApi.connection.port" . | quote }}
  NOTIFIER_SERVER: {{ include "udm-listener.ldapNotifier.connection.host" . | quote }}
  TLS_MODE: "{{ .Values.config.tlsMode }}"

...
---
kind: "ConfigMap"
apiVersion: "v1"
metadata:
  name: {{ printf "%s-files" (include "common.names.fullname" .) | quote }}
  namespace: {{ include "common.names.namespace" . | quote }}
  labels:
    {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.additionalLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.additionalLabels "context" . ) | nindent 4 }}
    {{- end }}
  {{- if .Values.additionalAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.additionalAnnotations "context" . ) | nindent 4 }}
  {{- end }}
data:
  base.conf: |
    # univention_ base.conf

    cron/autostart: yes
    server/role: memberserver
    ldap/master: {{ include "udm-listener.ldap.connection.host" . }}
    ldap/master/port: {{ include "udm-listener.ldap.connection.port" . }}
    ldap/hostdn: {{ include "udm-listener.ldapAdminDn" . }}
    ldap/base: {{ include "udm-listener.ldapBaseDn" . }}
    uldap/start-tls: 0
    listener/debug/level: {{ .Values.config.debugLevel }}

    # end of univention_ base.conf

  base-forced.conf: |


  base-ldap.conf: |


  base-schedule.conf: |


  base-defaults.conf: |


  ldap.conf: |
    TLS_REQCERT never
    BASE {{ include "udm-listener.ldapBaseDn" . }}


...
