## SPDX-FileCopyrightText: 2024 Bundesministerium des Innern und für Heimat, PG ZenDiS "Projektgruppe für Aufbau ZenDiS"
## SPDX-License-Identifier: Apache-2.0
---
apiVersion: "cli.kyverno.io/v1alpha1"
kind: "Test"
metadata:
  name: "nubus-test"
policies:
  - "{{ policies_base_path }}/disallow-container-sock-mounts.yaml"
  - "{{ policies_base_path }}/disallow-default-serviceaccount.yaml"
  - "{{ policies_base_path }}/disallow-host-namespaces.yaml"
  - "{{ policies_base_path }}/disallow-host-path.yaml"
  - "{{ policies_base_path }}/disallow-host-ports.yaml"
  - "{{ policies_base_path }}/disallow-host-process.yaml"
  - "{{ policies_base_path }}/disallow-latest-tag.yaml"
  - "{{ policies_base_path }}/require-containersecuritycontext.yaml"
  - "{{ policies_base_path }}/require-health-and-liveness-check.yaml"
  - "{{ policies_base_path }}/require-imagepullpolicy.yaml"
  - "{{ policies_base_path }}/require-requests-limits.yaml"
  - "{{ policies_base_path }}/require-tag-and-digest.yaml"
  - "{{ policies_base_path }}/template-image-registries.yaml"
  - "{{ policies_base_path }}/template-ingress.yaml"
  - "{{ policies_base_path }}/template-replicas.yaml"
  - "{{ policies_base_path }}/template-require-imagepullsecets.yaml"
  - "{{ policies_base_path }}/template-storage.yaml"
resources:
  - "manifest.yaml"
results:
  # the latest tag gets repalced automatically in the pipeline that builds the remote chart
  #- resources:
  #    - "release-name-provisioning-dispatcher"
  #  policy: "require-tag-and-digest"
  #  kind: "Deployment"
  #  rule: "require-tag-and-digest"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-default-serviceaccount"
    kind: "Deployment"
    rule: "disallow-default-serviceAccountName"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "template-imagepullsecrets"
    kind: "Deployment"
    rule: "template-imagePullSecrets"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "disallow-latest-tag"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "require-image-tag-or-digest"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-imagepullpolicy"
    kind: "Deployment"
    rule: "require-imagePullPolicy"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-health-and-liveness-check"
    kind: "Deployment"
    rule: "require-health-and-liveness-check"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-requests-limits"
    kind: "Deployment"
    rule: "validate-resources"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "template-image-registries"
    kind: "Deployment"
    rule: "template-image-registries"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-ro-rootfs"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privilege-escalation"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-all-capabilities-dropped"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privileged"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-user"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-group"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-seccomp-profile"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-non-root"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-empty-seLinuxOptions"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-default-procMount"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "restrict-sysctls"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-docker-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-containerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-crio-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-dockerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-host-namespaces"
    kind: "Deployment"
    rule: "disallow-host-namespaces"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-host-path"
    kind: "Deployment"
    rule: "disallow-host-path"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-host-ports"
    kind: "Deployment"
    rule: "disallow-host-ports"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "disallow-host-process"
    kind: "Deployment"
    rule: "disallow-host-process"
    result: "pass"
  - resources:
      - "release-name-provisioning-dispatcher"
    policy: "template-replicas"
    kind: "Deployment"
    rule: "template-replicas"
    result: "pass"
  # the latest tag gets repalced automatically in the pipeline that builds the remote chart
  #- resources:
  #    - "release-name-provisioning-api"
  #  policy: "require-tag-and-digest"
  #  kind: "Deployment"
  #  rule: "require-tag-and-digest"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-default-serviceaccount"
    kind: "Deployment"
    rule: "disallow-default-serviceAccountName"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "template-imagepullsecrets"
    kind: "Deployment"
    rule: "template-imagePullSecrets"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "disallow-latest-tag"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "require-image-tag-or-digest"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-imagepullpolicy"
    kind: "Deployment"
    rule: "require-imagePullPolicy"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-health-and-liveness-check"
    kind: "Deployment"
    rule: "require-health-and-liveness-check"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-requests-limits"
    kind: "Deployment"
    rule: "validate-resources"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "template-image-registries"
    kind: "Deployment"
    rule: "template-image-registries"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-ro-rootfs"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privilege-escalation"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-all-capabilities-dropped"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privileged"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-user"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-group"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-seccomp-profile"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-non-root"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-empty-seLinuxOptions"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-default-procMount"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "restrict-sysctls"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-docker-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-containerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-crio-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-dockerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-host-namespaces"
    kind: "Deployment"
    rule: "disallow-host-namespaces"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-host-path"
    kind: "Deployment"
    rule: "disallow-host-path"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-host-ports"
    kind: "Deployment"
    rule: "disallow-host-ports"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "disallow-host-process"
    kind: "Deployment"
    rule: "disallow-host-process"
    result: "pass"
  - resources:
      - "release-name-provisioning-api"
    policy: "template-replicas"
    kind: "Deployment"
    rule: "template-replicas"
    result: "pass"
  # the latest tag gets repalced automatically in the pipeline that builds the remote chart
  #- resources:
  #    - "release-name-provisioning-prefill"
  #  policy: "require-tag-and-digest"
  #  kind: "Deployment"
  #  rule: "require-tag-and-digest"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-default-serviceaccount"
    kind: "Deployment"
    rule: "disallow-default-serviceAccountName"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "template-imagepullsecrets"
    kind: "Deployment"
    rule: "template-imagePullSecrets"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "disallow-latest-tag"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "require-image-tag-or-digest"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-imagepullpolicy"
    kind: "Deployment"
    rule: "require-imagePullPolicy"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-health-and-liveness-check"
    kind: "Deployment"
    rule: "require-health-and-liveness-check"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-requests-limits"
    kind: "Deployment"
    rule: "validate-resources"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "template-image-registries"
    kind: "Deployment"
    rule: "template-image-registries"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-ro-rootfs"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privilege-escalation"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-all-capabilities-dropped"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privileged"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-user"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-group"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-seccomp-profile"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-non-root"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-empty-seLinuxOptions"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-default-procMount"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "restrict-sysctls"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-docker-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-containerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-crio-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-dockerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-host-namespaces"
    kind: "Deployment"
    rule: "disallow-host-namespaces"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-host-path"
    kind: "Deployment"
    rule: "disallow-host-path"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-host-ports"
    kind: "Deployment"
    rule: "disallow-host-ports"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "disallow-host-process"
    kind: "Deployment"
    rule: "disallow-host-process"
    result: "pass"
  - resources:
      - "release-name-provisioning-prefill"
    policy: "template-replicas"
    kind: "Deployment"
    rule: "template-replicas"
    result: "pass"
  # the latest tag gets repalced automatically in the pipeline that builds the remote chart
  #- resources:
  #    - "release-name-provisioning-udm-transformer"
  #  policy: "require-tag-and-digest"
  #  kind: "Deployment"
  #  rule: "require-tag-and-digest"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-default-serviceaccount"
    kind: "Deployment"
    rule: "disallow-default-serviceAccountName"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "template-imagepullsecrets"
    kind: "Deployment"
    rule: "template-imagePullSecrets"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "disallow-latest-tag"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-latest-tag"
    kind: "Deployment"
    rule: "require-image-tag-or-digest"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-imagepullpolicy"
    kind: "Deployment"
    rule: "require-imagePullPolicy"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-health-and-liveness-check"
    kind: "Deployment"
    rule: "require-health-and-liveness-check"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-requests-limits"
    kind: "Deployment"
    rule: "validate-resources"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "template-image-registries"
    kind: "Deployment"
    rule: "template-image-registries"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-ro-rootfs"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privilege-escalation"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-all-capabilities-dropped"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-no-privileged"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-user"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-group"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-seccomp-profile"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-run-as-non-root"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-empty-seLinuxOptions"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "require-default-procMount"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "require-containersecuritycontext"
    kind: "Deployment"
    rule: "restrict-sysctls"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-docker-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-containerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-crio-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-container-sock-mounts"
    kind: "Deployment"
    rule: "validate-dockerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-host-namespaces"
    kind: "Deployment"
    rule: "disallow-host-namespaces"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-host-path"
    kind: "Deployment"
    rule: "disallow-host-path"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-host-ports"
    kind: "Deployment"
    rule: "disallow-host-ports"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "disallow-host-process"
    kind: "Deployment"
    rule: "disallow-host-process"
    result: "pass"
  - resources:
      - "release-name-provisioning-udm-transformer"
    policy: "template-replicas"
    kind: "Deployment"
    rule: "template-replicas"
    result: "pass"
  # the latest tag gets replaced automatically in the pipeline that builds the remote chart
  #- resources:
  #    - "release-name-provisioning-nats"
  #  policy: "require-tag-and-digest"
  #  kind: "StatefulSet"
  #  rule: "require-tag-and-digest"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-default-serviceaccount"
    kind: "StatefulSet"
    rule: "disallow-default-serviceAccountName"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "template-imagepullsecrets"
    kind: "StatefulSet"
    rule: "template-imagePullSecrets"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-latest-tag"
    kind: "StatefulSet"
    rule: "disallow-latest-tag"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-latest-tag"
    kind: "StatefulSet"
    rule: "require-image-tag-or-digest"
    result: "pass"
  # should be checked in the NATS chart instead
  #- resources:
  #    - "release-name-provisioning-nats"
  #  policy: "require-imagepullpolicy"
  #  kind: "StatefulSet"
  #  rule: "require-imagePullPolicy"
  #  result: "pass"
  # should be checked in the NATS chart instead
  #- resources:
  #    - "release-name-provisioning-nats"
  #  policy: "require-health-and-liveness-check"
  #  kind: "StatefulSet"
  #  rule: "require-health-and-liveness-check"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "template-storage"
    kind: "StatefulSet"
    rule: "template-storageClassName-pvc"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "template-storage"
    kind: "StatefulSet"
    rule: "template-requests-storage-pvc"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-requests-limits"
    kind: "StatefulSet"
    rule: "validate-resources"
    result: "pass"
  # should be checked in the NATS chart instead
  #- resources:
  #    - "release-name-provisioning-nats"
  #  policy: "template-image-registries"
  #  kind: "StatefulSet"
  #  rule: "template-image-registries"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-ro-rootfs"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-no-privilege-escalation"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-all-capabilities-dropped"
    result: "pass"
  # should be checked in the NATS chart instead
  #- resources:
  #    - "release-name-provisioning-nats"
  #  policy: "require-containersecuritycontext"
  #  kind: "StatefulSet"
  #  rule: "require-no-privileged"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-run-as-user"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-run-as-group"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-seccomp-profile"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-run-as-non-root"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-empty-seLinuxOptions"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "require-default-procMount"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "require-containersecuritycontext"
    kind: "StatefulSet"
    rule: "restrict-sysctls"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-container-sock-mounts"
    kind: "StatefulSet"
    rule: "validate-docker-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-container-sock-mounts"
    kind: "StatefulSet"
    rule: "validate-containerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-container-sock-mounts"
    kind: "StatefulSet"
    rule: "validate-crio-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-container-sock-mounts"
    kind: "StatefulSet"
    rule: "validate-dockerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-host-namespaces"
    kind: "StatefulSet"
    rule: "disallow-host-namespaces"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-host-path"
    kind: "StatefulSet"
    rule: "disallow-host-path"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-host-ports"
    kind: "StatefulSet"
    rule: "disallow-host-ports"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "disallow-host-process"
    kind: "StatefulSet"
    rule: "disallow-host-process"
    result: "pass"
  - resources:
      - "release-name-provisioning-nats"
    policy: "template-replicas"
    kind: "StatefulSet"
    rule: "template-replicas"
    result: "pass"
  # the latest tag gets repalced automatically in the pipeline that builds the remote chart
  #- resources:
  #    - "release-name-provisioning-register-consumers-1"
  #  policy: "require-tag-and-digest"
  #  kind: "Job"
  #  rule: "require-tag-and-digest"
  #  result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-default-serviceaccount"
    kind: "Job"
    rule: "disallow-default-serviceAccountName"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "template-imagepullsecrets"
    kind: "Job"
    rule: "template-imagePullSecrets"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-latest-tag"
    kind: "Job"
    rule: "disallow-latest-tag"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-latest-tag"
    kind: "Job"
    rule: "require-image-tag-or-digest"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-imagepullpolicy"
    kind: "Job"
    rule: "require-imagePullPolicy"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-requests-limits"
    kind: "Job"
    rule: "validate-resources"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "template-image-registries"
    kind: "Job"
    rule: "template-image-registries"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-ro-rootfs"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-no-privilege-escalation"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-all-capabilities-dropped"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-no-privileged"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-run-as-user"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-run-as-group"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-seccomp-profile"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-run-as-non-root"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-empty-seLinuxOptions"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "require-default-procMount"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "require-containersecuritycontext"
    kind: "Job"
    rule: "restrict-sysctls"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-container-sock-mounts"
    kind: "Job"
    rule: "validate-docker-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-container-sock-mounts"
    kind: "Job"
    rule: "validate-containerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-container-sock-mounts"
    kind: "Job"
    rule: "validate-crio-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-container-sock-mounts"
    kind: "Job"
    rule: "validate-dockerd-sock-mount"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-host-namespaces"
    kind: "Job"
    rule: "disallow-host-namespaces"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-host-path"
    kind: "Job"
    rule: "disallow-host-path"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-host-ports"
    kind: "Job"
    rule: "disallow-host-ports"
    result: "pass"
  - resources:
      - "release-name-provisioning-register-consumers-1"
    policy: "disallow-host-process"
    kind: "Job"
    rule: "disallow-host-process"
    result: "pass"
...
